{{- if .Param "authorbox" }}
<div class="authorbox clearfix">
	{{ $author := default .Site.Author (index .Site.Data.authors (.Params.author | default "default")) }}
	{{- with $author }}
		{{- if (not $author.avatar) }}
			<p class="authorbox__warning">
				<strong>WARNING:</strong> Authorbox is activated, but author is missing the "avatar" property.
			</p>
		{{- end }}
		{{- if (not $author.name) }}
		<p class="authorbox__warning">
			<strong>WARNING:</strong> Authorbox is activated, but author is missing the "name" property.
		if (not $author.bio) }}
			<p class="authorbox__warning">
				<strong>WARNING:</strong> Authorbox is activated, but author is missing the "bio" property.
			</p>
		{{- end }}
		{{- with $author.avatar }}
		<figure class="authorbox__avatar">
			<img alt="{{ $author.name }} avatar" src="{{ $author.avatar | relURL }}" class="avatar" height="90" width="90">
		</figure>
		{{- end }}
		{{- with $author.name }}
		<div class="authorbox__header">
			<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
		</div>
		{{- end }}
		{{- with $author.bio }}
		<div class="authorbox__description">
			{{ . | markdownify }}
		</div>
		{{- end }}
	{{- end }}
</div>
{{- end }}